<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <!-- 页面标题 -->
        <title>
            {% block title %}{% endblock %}
        </title>

        {% block styles %}  <!-- 样式区 -->
            <link rel="stylesheet" charset="utf-8" type="text/css"
            href="{{ url_for('static', filename='css/admin/main.css') }}">
            <link rel="stylesheet" charset="utf-8" type="text/css"
            href="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.css">
        {% endblock %}
    </head>

    <body class="base-body">
        {% block message %}  <!-- 消息区 -->
            <div class="hnf-msg" id="hnf-msg">
            </div>
        {% endblock %}

        {% block navigation %}  <!-- 导航区 -->
            {% if current_user.is_authenticated %}
                <div class="ui container">
                    <!-- admin的导航 -->
                    <div class="ui mini menu">
                        <a class="item active" href="/admin">
                            <i class="home icon"></i>后台主页
                        </a>

                        <div class="ui dropdown item admin-mgmt-dropdown">
                            <i class="settings icon"></i>
                            管理
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/admin/user">
                                    <i class="users icon"></i>用户管理
                                </a>
                                <a class="item" href="/admin/privilege">
                                    <i class="privacy icon"></i>权限管理
                                </a>
                                <a class="item" href="/admin/email">
                                    <i class="mail icon"></i>邮件管理
                                </a>
                                <a class="item" href="/admin/category">
                                    <i class="filter icon"></i>分类管理
                                </a>
                                <a class="item" href="/admin/file">
                                    <i class="file icon"></i>文件管理
                                </a>
                                <a class="item" href="/admin/log">
                                    <i class="dashboard icon"></i>日志管理
                                </a>
                            </div>
                        </div>

                        <div class="right menu">
                            <div class="item">
                                <a class="ui animated fluid black button" tabindex="0" href="/admin/logout">
                                    <div class="visible content">注销</div>
                                    <div class="hidden content">
                                        <i class="sign out icon"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            {% endif %}
        {% endblock %}

        {% block content %}  <!-- 内容区 -->
        {% endblock %}

        <footer>
            {% block footer %}  <!-- 页脚区 -->
            {% endblock %}
        </footer>

        {% block scripts %}  <!-- js脚本区 -->
            <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js"></script>
            <script src="{{ url_for('static', filename='js/admin/main.js') }}"></script>
        {% endblock %}
    </body>
</html>