{% extends "base.html" %}

{% block title %}hnf|聊天{% endblock %}

{% block content %}  <!-- 内容区 -->
    <audio id="chatAudio">
        <source src="{{ url_for('static', filename='audio/notify.ogg') }}" type="audio/ogg">
    </audio>
    <textarea style="width: 1000px;height: 500px" id="console" readonly></textarea>
    <textarea style="width: 1000px;height: 200px" id="edit-message"></textarea><button id="send">发送</button>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
        function debounce(func, wait) {
            var timeout;
            return function () {
                clearTimeout(timeout);
                timeout = setTimeout(func, wait);
            }
        }

        $.fn.ctrlEnter = function (btns, fn) {
             var thiz = $(this);
             btns = $(btns);

             function performAction (e) {
                 fn.call(thiz, e);
             }
             thiz.bind("keydown", function (e) {
                if (e.keyCode === 13 && e.ctrlKey) {
                    performAction(e);
                    e.preventDefault(); //阻止默认回车换行
                }
             });
             btns.bind("click", performAction);
        };
        $('#edit-message').ctrlEnter('#send', function () {
            send_message();
        });
        $('#edit-message').bind('input propertychange', function () {
            socket.emit('typing', '正在输入...');
            debounce(function () {
                socket.emit('typing', 'Title');
            }, 2000)();
        });

        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });

        socket.on('typing', function(message) {
            $('title').text(message);
        });

        socket.on('response', function(message) {
            $('#console').append(message);
            $('#chatAudio')[0].play(); //播放声音
        });

        function send_message() {
            var edit_message = $('#edit-message');
            var message = edit_message.val();
            socket.emit('send_message', message);
            edit_message.val('');
        }
    </script>
{% endblock %}