.base-body {
    background-color: #DADADA;
}

.hnf-msg {
    position: absolute;
    top: 30%;
    width: 20%;
    left: 40%;
    z-index: 999
}

.http-exception {
    position: relative;
    top: 30%;
}