{% extends "base.html" %}

{% block title %}hnf|主页{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" charset="utf-8" type="text/css" href="{{ url_for('static', filename='css/index/main.css') }}">

    <link rel="stylesheet" charset="utf-8" type="text/css"
          href="{{ url_for('static', filename='js/components/carousel/css/reset.css') }}">
    <link rel="stylesheet" charset="utf-8" type="text/css"
          href="{{ url_for('static', filename='js/components/carousel/css/slide.css') }}">
    <link rel="stylesheet" charset="utf-8" type="text/css"
          href="{{ url_for('static', filename='js/components/carousel/css/index.css') }}">
{% endblock %}

{% block content %}  <!-- 内容区 -->
    {% if current_user.is_authenticated %}
        <div class="ui container">
            <div class="ui divider"></div>

            <!-- banner -->
            {{ embed_html('components/carousel/index.html') }}

            <h4 class="ui horizontal divider header"> 分类 </h4>

            <!-- 分类 -->
            <div class="ui four column grid">
                <div class="column">
                    <div class="ui floating segment">
                        <div class="ui special cards">
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui inverted dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui teal button">Add Friend</div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="http://www.semantic-ui.cn/images/avatar/large/jenny.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">Team Hess</a>
                                    <div class="meta">
                                        <span class="date">Create in Aug 2014</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a><i class="users icon"></i> 2 Members </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui floating segment">

                        <div class="ui special cards">
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui inverted dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui teal button">Add Friend</div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">Team Hess</a>
                                    <div class="meta">
                                        <span class="date">Create in Aug 2014</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a><i class="users icon"></i> 2 Members </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="column">
                    <div class="ui floating segment">
                        <div class="ui special cards">
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui inverted dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui teal button">Add Friend</div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="http://www.semantic-ui.cn/images/avatar/large/stevie.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">Team Hess</a>
                                    <div class="meta">
                                        <span class="date">Create in Aug 2014</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a><i class="users icon"></i> 2 Members </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui floating segment">
                        <div class="ui special cards">
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui inverted dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui teal button">Add Friend</div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="http://www.semantic-ui.cn/images/avatar/large/helen.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">Team Hess</a>
                                    <div class="meta">
                                        <span class="date">Create in Aug 2014</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a><i class="users icon"></i> 2 Members </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui floating segment">
                        <div class="ui special cards">
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui inverted dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui teal button">Add Friend</div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="http://www.semantic-ui.cn/images/avatar/large/jenny.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">Team Hess</a>
                                    <div class="meta">
                                        <span class="date">Create in Aug 2014</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a><i class="users icon"></i> 2 Members </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui floating segment">

                        <div class="ui special cards">
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui inverted dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui teal button">Add Friend</div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="http://www.semantic-ui.cn/images/avatar/large/elliot.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">Team Hess</a>
                                    <div class="meta">
                                        <span class="date">Create in Aug 2014</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a><i class="users icon"></i> 2 Members </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="column">
                    <div class="ui floating segment">
                        <div class="ui special cards">
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui inverted dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui teal button">Add Friend</div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="http://www.semantic-ui.cn/images/avatar/large/stevie.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">Team Hess</a>
                                    <div class="meta">
                                        <span class="date">Create in Aug 2014</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a><i class="users icon"></i> 2 Members </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui floating segment">
                        <div class="ui special cards">
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui inverted dimmer">
                                        <div class="content">
                                            <div class="center">
                                                <div class="ui teal button">Add Friend</div>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="http://www.semantic-ui.cn/images/avatar/large/helen.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">Team Hess</a>
                                    <div class="meta">
                                        <span class="date">Create in Aug 2014</span>
                                    </div>
                                </div>
                                <div class="extra content">
                                    <a><i class="users icon"></i> 2 Members </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}
{% endblock %}

{% block scripts %}  <!-- js脚本区 -->
    {{ super() }}
    <script src="{{ url_for('static', filename='js/index/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/components/carousel/js/slide.min.js') }}"></script>
    <script>
        $(function(){
            var  sliderDescArr=[],i=0,len=10;
            for(;i<len;i++){
                sliderDescArr.push(new Array(10).join(''+i));
            }
            $('#sliderDesc1').text(sliderDescArr[0]);
            $('#slide2d').slideCarsousel({callbackFunc:function(index){
                $('#sliderDesc1').text(sliderDescArr[index]);
            }});
        });
    </script>
{% endblock %}